In [1]:
import pandas as pd

R4_M2_8565A=pd.read_csv("datasets/R4_M2_8565A_DailyTabular15Min_Report_1_5206_01_01_2022_01_01_2023.csv")
R4_M2_8565A["label"]="R4_M2_8565A"
R4_M2_8545A=pd.read_csv("datasets/R4_M2_8545A_DailyTabular15Min_Report_1_769_01_01_2022_01_01_2023.csv")
R4_M2_8545A["label"]="R4_M2_8545A"
R3_M20_6576A=pd.read_csv("datasets/R3_M20_6576A_DailyTabular15Min_Report_1_4168_01_01_2022_01_01_2023 (1).csv")
R3_M20_6576A['label']="R3_M20_6576A"
R3_5889_1=pd.read_csv("datasets/R3_5889_1_DailyTabular15Min_Report_1_7653_01_01_2022_01_01_2023.csv")
R3_5889_1['label']="R3_5889_1"
R2_M2_8431J=pd.read_csv("datasets/R2_M2_8431J_DailyTabular15Min_Report_1_9857_01_01_2022_01_01_2023 (1).csv")
R2_M2_8431J['label']="R2_M2_8431J"
R2_A2_8380A=pd.read_csv("datasets/R2_A2_8380A_DailyTabular15Min_Report_1_4398_01_01_2022_01_01_2023.csv")
R2_A2_8380A['label']="R2_A2_8380A"
R2_A2_8362A=pd.read_csv("datasets/R2_A2_8362A_DailyTabular15Min_Report_1_6181_01_01_2022_01_01_2023.csv")
R2_A2_8362A['label']="R2_A2_8362A"
R1_M25_4094A=pd.read_csv("datasets/R1_M25_4094A_DailyTabular15Min_Report_1_303_01_01_2022_01_01_2023 (1).csv")
R1_M25_4094A['label']="R1_M25_4094A"
R1_M20_6477A=pd.read_csv("datasets/R1_M20_6477A_DailyTabular15Min_Report_1_18510_01_01_2022_01_01_2023.csv")
R1_M20_6477A['label']="R1_M20_6477A"
R1_M20_6468A=pd.read_csv("datasets/R1_M20_6468A_DailyTabular15Min_Report_1_18511_01_01_2022_01_01_2023.csv")
R1_M20_6468A['label']="R1_M20_6468A"

In [2]:
frames = [R4_M2_8565A, R4_M2_8545A, R3_M20_6576A,R3_5889_1,
         R2_M2_8431J,R2_A2_8380A,R2_A2_8362A,
         R1_M25_4094A,R1_M20_6477A,R1_M20_6468A]

whole_data = pd.concat(frames)

In [15]:
whole_data["null_count"]=whole_data.isnull().sum(axis=1)
columns_to_check = list(whole_data.columns[1:97])
# Count zeros in each row for the specified columns
whole_data['Zero_Count'] = whole_data[columns_to_check].apply(lambda x: (x==0).sum(), axis=1)

In [ ]:
whole_data.loc[whole_data["null_count"]>10]

In [ ]:
for column in whole_data.select_dtypes(include=[np.number]).columns:
    whole_data[column].fillna(whole_data[column].mean(), inplace=True)

whole_data.to_csv('datasets/whole_data.csv')

In [17]:
whole_data=pd.read_csv("datasets/whole_data.csv")

In [19]:
whole_data.describe()

,Unnamed: 0,00:00,00:15,00:30,00:45,01:00,01:15,01:30,01:45,02:00,...,22:00,22:15,22:30,22:45,23:00,23:15,23:30,23:45,Total,null_count
count,3650.000000,3302.000000,3302.000000,3306.000000,3306.000000,3296.000000,3296.000000,3296.000000,3296.000000,3305.000000,...,3299.000000,3299.000000,3299.000000,3299.000000,3299.000000,3300.000000,3300.000000,3300.000000,3333.000000,3650.000000
mean,182.000000,129.913689,117.925803,106.575318,98.284332,89.858920,84.137743,79.122573,75.444478,72.323147,...,255.895120,250.600485,222.530767,199.207639,185.244013,170.648182,158.164242,143.142121,45693.999700,9.257808
std,105.380465,78.503441,71.154577,65.419498,60.552516,53.089175,48.368620,44.891035,41.875797,40.570571,...,133.280216,133.608095,118.320670,107.899829,103.386128,95.504012,95.016894,86.093840,21316.310849,28.103811
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,220.000000,0.000000
25%,91.000000,80.000000,72.000000,62.000000,58.000000,53.000000,49.750000,47.000000,45.000000,43.000000,...,178.000000,178.000000,152.000000,133.000000,122.000000,111.000000,98.750000,88.750000,29724.000000,0.000000
50%,182.000000,118.000000,109.000000,97.000000,91.000000,84.000000,79.000000,73.000000,70.000000,66.000000,...,235.000000,228.000000,204.000000,182.000000,169.000000,156.000000,143.000000,131.000000,45284.000000,0.000000
75%,273.000000,167.000000,150.000000,138.000000,128.000000,118.000000,110.000000,105.000000,101.000000,97.000000,...,320.000000,301.000000,277.000000,251.500000,235.000000,217.000000,202.000000,181.000000,61624.000000,0.000000
max,364.000000,604.000000,599.000000,559.000000,558.000000,492.000000,376.000000,339.000000,314.000000,285.000000,...,738.000000,1046.000000,629.000000,701.000000,653.000000,595.000000,608.000000,673.000000,86312.000000,97.000000

potential datasets on google cloud:
1. Waze for cities: accidents, potholes, slow downs and speed traps on the app
2. Mobile network data
3. For EV:The open charge map, National Chargepoint Registry